<!DOCTYPE html>
<head>
    <title>js_zadacha9</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="c:\projects\git-rabota\CSS\style.css">
    <script type="text/javascript" src="c:\projects\git-rabota\js\javascript.js"></script>
</head>
<body>
<form>
Введите первое число: <input class="class_input2" type="text" id="number_1" /><br><br>
Введите второе число: <input class="class_input2" type="text" id="number_2" /><br><br>
    <input class="class_input" type="button" onClick="multiply()" value="Умножить" />
    <input class="class_input" type="button" onClick="divide()" value="Поделить" />
</form>
<p>Ваш ответ : <span id = "result" ></span>
</p>
</body>
</html>
