<!DOCTYPE html>
<head>
    <title>js_zadacha9</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="c:\projects\git-rabota\CSS\style.css">
    <script type="text/javascript" src="c:\projects\git-rabota\js\javascript.js"></script>
</head>
<body>
<p></p><b>Введите градусы:</b></p>
<form>
    <input class="class_input" id="c" name="c" onkeyup="convert('C')"> градусов <span>Цельсия</span><br />
    <br />
    <input class="class_input" id="f" name="f" onkeyup="convert('F')"> градусов <span>Фаренгейта</span>
</form>
</body>
</html>