<!DOCTYPE html>
<head>
    <title>Git test</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="c:\projects\git-rabota\css\style.css">
</head>
<body>
<div class="block">
    <div class="menu">
        <a href="#" class="profile">Profile</a>
        <a href="#" class="messages">Messages</a>
        <a href="#" class="contacts">Contacts</a>
        <a href="#" class="portfolio">Portfolio</a>
        <a href="#" class="csslive">CSS-live</a>
    </div>
</div>
</body>
</html>